
body{
    margin:10px;
    font-size:18px;
    max-width:1900px;
    background-color: #FEFCFB;
    font-family: "微軟正黑體",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-top:10px;
    margin-right:0;
    margin-bottom:0;
    margin-left:0; */
}
#Title{
max-width:1300px;
display:block;
margin:0 auto;
}
#Title .container{
width:100%;
text-align: center;
border:1px solid #2F9C95;
}

#Title .container .Titles{
    background-color: #A3F7B5;
    opacity: .8;
    border:1px solid #2F9C95;
    display:inline-block;
    width:calc(90%/3);
    padding:5px;
    margin-right:1%;
    transition: .5s;
}
#Title a{  
    color: #2F9C95;
    text-decoration: none;
    transition: .5s;
}

#Title .Titles:hover{
    opacity: 1 ;
    background-color: #A3F7B5;
    font-size:2em;
}

#Title a:hover{
    color : #664147;
}
#eatCkn{
    max-width:300px;
    margin:50px auto;
}
#eatCkn img{
    width:300px;
    transition:.5s;
}
#eatCkn img:hover{
    opacity: 0.5;
}

#Hello{
font-size:3em;
text-align: center;
}