
body {
  margin: 0;
  color: white;
  font-family: '微軟正黑體', Arial, Helvetica, sans-serif;
  background-image: url("/img/a2.jpg");
  background-size: cover;
  background-attachment: fixed; }
#body .col:hover{
    box-shadow: 0 0 1em black;
    filter: brightness(1.3);
}

#body {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); }

.row {
  padding-top: 40px;
  display: flex;
  justify-content: center; }
  .row .col {
    transition:.5s;
    margin-left: 40px; }
    .row .col .Twitchimg {
      width: 300px;
      height: 180px; }
      .row .col .Twitchimg img {
        width: 100%;
        height: 100%; }
    .row .col .Streamer {
      width: 300px;
      height: 80px;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex; }
      .row .col .Streamer .DaPicImg {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .row .col .Streamer .DaPicImg img {
          border-radius: 50%;
          width: 60px;
          height: 60px; }
      .row .col .Streamer .Streamtext .name {
        font-size: 2em;
        height: 50%; }